* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar__section1-title {
  color: #a435f0;
}

.navbar__section2 {
  padding: 10px;
  border: solid black 1px;
  width: 60%;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar__section__4 {
  display: none;
}

.navbar__section2 input {
  border: none;
  width: 100%;
  font-size: 20px;
  background-color: transparent;
}

.navbar__section2 input:focus {
  outline: none;
}

.navbar__section3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mylearning {
  position: relative;
  cursor: pointer;
}

.mylearning__popup {
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  border: solid 2px black;
  padding: 20px;
  position: absolute;
  top: 150%;
  right: 0;
  display: none;
}

.mylearning:hover .mylearning__popup {
  display: block;
}

.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: solid black 1px;
}

.categories p {
  padding: 10px;
  background-color: #a435f0;
  color: white;
  border-radius: 30px;
  border: solid 1px #a435f0;
  cursor: pointer;
}

.categories p:hover {
  transition: 0.5s;
  background-color: transparent;
  color: black;
  border: #a435f0 solid 1px;
}

.sale-image {
  margin-top: 5px;
  position: relative;
}
.sale-image img {
  width: 100%;
}

.sale-image__offer {
  position: absolute;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  background-color: white;
  color: black;
  bottom: 40%;
  left: 20%;
  animation-name: zoom;
  animation-duration: 1s;
  animation-timing-function: linear;
  opacity: 0;
  animation-fill-mode: forwards;

}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.recomended {
  padding: 10px;
}

.Recomended__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.Courses__card {
  flex-grow: 1;
  flex-basis: 20%;
  margin: 10px;
}

.Courses__card img {
  width: 100%;
  height: 50%;
}

.topics {
  padding: 10px;
}

.topic__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.topic__container p {
  padding: 10px;
  border: solid grey 2px;
  flex-grow: 1;

  flex-basis: 25%;
}

.popular {
  padding: 10px;
}

.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 10px;
}

.footer {
  background-color: black;
  color: white;
  /* width: 100%; */
  padding: 50px;
}

.footer__one {
  display: flex;
  gap: 50px;
}

.footer__one__s1 p {
  margin-top: 10px;
}

.footer__one__s2 p {
  margin-top: 10px;
}

.footer__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .Courses__card {
    flex-basis: 40%;
  }

   .sale-image__offer h1{
    font-size: 14px;
  }
  .sale-image__offer p {
    font-size: 11px;
  }

   .sale-image__offer {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .categories {
    display: none;
  }

  .navbar__section3,
  .navbar__section2 {
    display: none;
  }

  .navbar__section__4 {
    display: block;
  }

  .sale-image__offer h1{
    font-size: 14px;
  }
  .sale-image__offer p {
    font-size: 11px;
  }

  .sale-image__offer {
    width: 40%;
    padding: 8px;
    bottom: 20%;
    left: 10%;
  }
}
